[submodule "source/CNIT481-CCI"]
	path = source/CNIT481-CCI
	url = git@github.com:purduecyan/CNIT481-CCI.git
[submodule "source/CNIT481-SDN"]
	path = source/CNIT481-SDN
	url = git@github.com:purduecyan/CNIT481-SDN.git
