[submodule "source/CNIT481-CCI"]
	path = source/CNIT481-CCI
	url = https://github.com/purduecyan/CNIT481-CCI.git
[submodule "source/CNIT481-SDN"]
	path = source/CNIT481-SDN
	url = https://github.com/purduecyan/CNIT481-SDN.git
[submodule "source/cloud-init"]
	path = source/cloud-init
	url = https://github.com/purduecyan/cloud-init.git
[submodule "source/vagrant"]
	path = source/vagrant
	url = https://github.com/purduecyan/vagrant.git
